#toolbar-1,
#toolbar-2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

}

#toolbar-1 {
  z-index: 3;
  top: 0;
  height: 64px;

  }

  #user-name {
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
  }

  #business-name {
    line-height: 60%;
    font-size: 16px;
  }


#toolbar-2 {
  z-index: 2;
  top: 64px;
  height: 49px;
  min-height: 49px;

}

.main {
  padding-top: 113px;
  height: calc(100vh - 113px);
}

.main-mobile {
  padding-top: 64px;
}

.mobile-main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-drawer-container {
  flex: 1 0 auto;
}

.active-mobile {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #2f66b9;
  margin-left: 0px;
}

.inactive-mobile {
  margin-left: 3px;
}
