
<div class="container-fluid gs1-background-color-ui-1">
  <div class="row justify-content-center">
    <div class="col-2 mt-4" style="text-align:center;">
      <h6 class="gs1-color-blue" style="font-size: 16px;">Acerca de GS1</h6>
      <div class="divider d-flex align-items-center my-4">
      </div>
    </div>
    <div class="col-2 mt-4" style="text-align:center;">
      <h6 class="gs1-color-blue" style="font-size: 16px;">Contáctenos</h6>
      <div class="divider d-flex align-items-center my-4">
      </div>
    </div>
    <div class="col-2 mt-4" style="text-align:center;">
      <h6 class="gs1-color-blue" style="font-size: 16px;">Preguntas Frecuentes</h6>
      <div class="divider d-flex align-items-center my-4">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-1" style="text-align:center;">
      <h4 class="gs1-color-blue"><i class="bi bi-linkedin" style="margin: 10px;"></i><i class="bi bi-youtube" style="margin: 10px;"></i></h4>
    </div>
    <div class="col-5" style="text-align:center;">
      <p style="font-size: 12px;">
        GS1 Uruguay Carlos Federico Sáez 6535 - Montevideo - Uruguay.
      <br>
       Tel: (+598) 2606 2134 - 2292 9347 * | Tels Guardia fuera de Hora (Servicio Rondanet): 099 914 700 - 092 013 160
      <br>
       Horario: Lunes a Viernes de 9 a 18hs | Mail: info@gs1uy.org
     </p>
    </div>
  </div>
</div>
 <!--
<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 gs1-background-color-blue">

    <div class="text-white mb-3 mb-md-0">
        <p style="font-size: 12px;">
             GS1 Uruguay Carlos Federico Sáez 6535 - Montevideo - Uruguay.
        <br>
            Tel: (+598) 2606 2134 - 2292 9347 * | Tels Guardia fuera de Hora (Servicio Rondanet): 099 914 700 - 092 013 160
        <br>
            Horario: Lunes a Viernes de 9 a 18hs | Mail: info@gs1uy.org
        </p>
        
    </div>

    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

  </div>
-->
