:host .panel .panel-body {
	word-wrap: break-word;
}

.mat-radio-button {
   width: 100px;
}
.modal-img{
  width: 350px;
}

.orange-color{color: #f26334;}
.red-color{color: #dc3545;}
.black-color{color: black}
.padding-0{padding: 0;}
