.mat-row:hover {
	background-color: whitesmoke;
	cursor: pointer;
}

.empty-table {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
	opacity: 0.7;
}

.mat-column-select {
	flex: 0 0 5%;
}

::ng-deep .mat-tooltip {
	white-space: pre-line; // Allow line break
}

.business-groups {
	padding: 16px 10px;
}

.spinner {
	height: 60vh;
}
