
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ActivateGradeUY-primary: mat.define-palette(mat.$indigo-palette);
$ActivateGradeUY-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ActivateGradeUY-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ActivateGradeUY-theme: mat.define-light-theme((
  color: (
    primary: $ActivateGradeUY-primary,
    accent: $ActivateGradeUY-accent,
    warn: $ActivateGradeUY-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ActivateGradeUY-theme);

.success-snackbar {
	background-color: #51a351 !important;
	.mat-button-wrapper {
		color: white !important;
	}

	.mat-button-base {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10px !important;
		min-width: 10px !important;
	}

	mat-icon {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		font-size: 21px !important;
		margin-top: 0px !important;
	}
}

.info-snackbar {
	background-color: #2f96b4 !important;
	.mat-button-wrapper {
		color: white !important;
	}

	.mat-button-base {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10px !important;
		min-width: 10px !important;
	}

	mat-icon {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		font-size: 21px !important;
		margin-top: 0px !important;
	}
}

.error-snackbar {
	.mat-button-wrapper {
		color: white !important;
	}
	background-color: #bd362f !important;
	.mat-button-base {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10px !important;
		min-width: 10px !important;
	}

	mat-icon {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		font-size: 21px !important;
		margin-top: 0px !important;
	}
	.mat-button-base:hover {
		background-color: #d02219 !important;
	}
}

.warn-snackbar {
	background-color: #ffc107 !important;
	color: rgba(0, 0, 0, 0.7);

	.mat-button-wrapper {
		color: rgba(0, 0, 0, 0.7) !important;
	}

	.mat-button-base {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10px !important;
		min-width: 10px !important;
	}

	mat-icon {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		font-size: 21px !important;
		margin-top: 0px !important;
	}
}
