.dateText{
color: #a6b0bb;
font-size: .7rem;
margin: 0%;
}
.userText{
    color: #a6b0bb;
    font-size: .7rem;
    margin: 0%;
}
.descriptionText{
    margin: 0%;
}
.buttonDraft{
    font-size: 0.7rem;
    padding-top: 2px;
    padding-bottom: 2px;
}